In [ ]:
https://sparkbyexamples.com/spark/spark-read-csv-file-into-dataframe/
https://sparkbyexamples.com/pyspark-tutorial/

https://sparkbyexamples.com/pyspark/

In [1]:
import pandas as pd
import numpy as np

In [ ]:
!pip install pyspark

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark

### Read file in Excel

In [121]:
df_excel = pd.read_excel('Write_xlsx.xlsx')
df_excel.head()

     Name   Age  Experience
0  Ashish  34.0        10.0
1   Salaj  33.0         9.0
2   Phool  57.0        37.0
3  Shontu   1.0         NaN
4     NaN  40.0         NaN

In [ ]:
# https://stackoverflow.com/questions/56426069/how-to-read-xlsx-or-xls-files-as-spark-dataframe

# from pyspark.sql.types import StructType, StructField, DoubleType, StringType

# schema = StructType([StructField("Name", StringType(), True), StructField("Age", DoubleType(), True), StructField("Experience", DoubleType(), True)])

# df_excel_spark = spark.createDataFrame(df_excel, schema=schema)
# df_excel_spark.show()

### Read file in CSV

In [194]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|          40|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

### Writing to CSV

In [ ]:
# If data is not too heavy
df.toPandas().to_csv('Write.csv', index=None)

# It will create a folder, and inside that will create the file
df.write.csv('Ashish', header=True)

### Describe

In [195]:
df.describe().show()

+-------+------+-----------+-----------------+------------------+
|summary|  Name|Departments|           Salary|       Expenditure|
+-------+------+-----------+-----------------+------------------+
|  count|    12|         12|               11|                10|
|   mean|  null|       40.0|6639.090909090909|            1825.0|
| stddev|  null|       null|5569.094099663705|1349.1252309881722|
|    min|Ashish|         40|               30|               500|
|    max|Shontu|        IOT|            20000|              5000|
+-------+------+-----------+-----------------+------------------+

### How to check data types

In [196]:
type(df)

pyspark.sql.dataframe.DataFrame

In [197]:
df.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Expenditure', 'int')]

In [198]:
df[['Name']].dtypes

[('Name', 'string')]

In [199]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)

### How to check Shape

In [200]:
print((df.count(), len(df.columns)))

(13, 4)

### How to check no. of columns

In [201]:
df.columns

['Name', 'Departments', 'Salary', 'Expenditure']

In [203]:
df[['Name', 'Departments']].show()

+-------+------------+
|   Name| Departments|
+-------+------------+
| Ashish|Data Science|
| Ashish|         IOT|
|  Salaj|    Big Data|
| Ashish|    Big Data|
|  Salaj|Data Science|
|  Phool|Data Science|
|  Phool|         IOT|
|  Phool|    Big Data|
|Sangwan|Data Science|
|Sangwan|    Big Data|
| Shontu|         IOT|
|   null|          40|
|Sangwan|        null|
+-------+------------+

In [204]:
df.select('Name').show()

+-------+
|   Name|
+-------+
| Ashish|
| Ashish|
|  Salaj|
| Ashish|
|  Salaj|
|  Phool|
|  Phool|
|  Phool|
|Sangwan|
|Sangwan|
| Shontu|
|   null|
|Sangwan|
+-------+

In [205]:
df.select(['Name','Departments']).show()

+-------+------------+
|   Name| Departments|
+-------+------------+
| Ashish|Data Science|
| Ashish|         IOT|
|  Salaj|    Big Data|
| Ashish|    Big Data|
|  Salaj|Data Science|
|  Phool|Data Science|
|  Phool|         IOT|
|  Phool|    Big Data|
|Sangwan|Data Science|
|Sangwan|    Big Data|
| Shontu|         IOT|
|   null|          40|
|Sangwan|        null|
+-------+------------+

### How to change data type

https://www.geeksforgeeks.org/how-to-change-column-type-in-pyspark-dataframe/

In [206]:
df.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Expenditure', 'int')]

In [212]:
# One column at a time

df1 = df.withColumn('Salary', df['Salary'].cast('float'))
df1.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'float'),
 ('Expenditure', 'int')]

In [216]:
# Multiple columns - Using select we have to pass all columns whether we are casting it or not
df1 = df.select(df['Name'], 
                df['Departments'], 
                df['Salary'].cast('float'), 
                df['Expenditure'].cast('float'))
df1.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'float'),
 ('Expenditure', 'float')]

### How to check null values

In [217]:
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|          40|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [218]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

+----+-----------+------+-----------+
|Name|Departments|Salary|Expenditure|
+----+-----------+------+-----------+
|   0|          0|     0|          0|
+----+-----------+------+-----------+

In [219]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----------+------+-----------+
|Name|Departments|Salary|Expenditure|
+----+-----------+------+-----------+
|   1|          1|     2|          3|
+----+-----------+------+-----------+

In [220]:
# Combining above 2

from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull() , c)).alias(c) for c in df.columns]).show()

+----+-----------+------+-----------+
|Name|Departments|Salary|Expenditure|
+----+-----------+------+-----------+
|   1|          1|     2|          3|
+----+-----------+------+-----------+

### Check Unique Values in column

In [164]:
df.show()

+-------+----+----------+
|   Name| Age|Experience|
+-------+----+----------+
| Ashish|  34|        10|
|  Salaj|  33|         9|
|  Phool|  57|        37|
| Shontu|   1|      null|
|   null|  40|      null|
|Sangwan|null|        30|
+-------+----+----------+

In [183]:
from pyspark.sql.functions import col, countDistinct

col_name = 'Name'
df.select(countDistinct(df[col_name]).alias(col_name)).show()

+----+
|Name|
+----+
|   5|
+----+

In [184]:
df.select([countDistinct(c).alias(c) for c in df.columns]).show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|   5|  5|         4|
+----+---+----------+

### Value_Counts

In [221]:
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|          40|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [222]:
df.groupBy('Name').count().orderBy('count', ascending=False).show()

+-------+-----+
|   Name|count|
+-------+-----+
|Sangwan|    3|
|  Phool|    3|
| Ashish|    3|
|  Salaj|    2|
|   null|    1|
| Shontu|    1|
+-------+-----+

### Fill NA

In [223]:
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|          40|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [189]:
# This will replace only null in string data type column
df.na.fill('Missing Value').show()

+-------------+----+----------+
|         Name| Age|Experience|
+-------------+----+----------+
|       Ashish|  34|        10|
|        Salaj|  33|         9|
|        Phool|  57|        37|
|       Shontu|   1|      null|
|Missing Value|  40|      null|
|      Sangwan|null|        30|
+-------------+----+----------+

In [190]:
# This will replace only null in int data type column
df.na.fill(50).show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Ashish| 34|        10|
|  Salaj| 33|         9|
|  Phool| 57|        37|
| Shontu|  1|        50|
|   null| 40|        50|
|Sangwan| 50|        30|
+-------+---+----------+

In [191]:
df.na.fill(40, subset=['Age']).show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Ashish| 34|        10|
|  Salaj| 33|         9|
|  Phool| 57|        37|
| Shontu|  1|      null|
|   null| 40|      null|
|Sangwan| 40|        30|
+-------+---+----------+

In [192]:
df.na.fill({'Name':'Missing Value', 'Age':50, 'Experience':20}).show()

+-------------+---+----------+
|         Name|Age|Experience|
+-------------+---+----------+
|       Ashish| 34|        10|
|        Salaj| 33|         9|
|        Phool| 57|        37|
|       Shontu|  1|        20|
|Missing Value| 40|        20|
|      Sangwan| 50|        30|
+-------------+---+----------+

In [66]:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Age','Experience'], 
                  outputCols=['{}_imputed'.format(cols) for cols in ['Age','Experience']]).setStrategy('mean')

imputer.fit(df).transform(df).show()

+-------+----+----------+-----------+------------------+
|   Name| Age|Experience|Age_imputed|Experience_imputed|
+-------+----+----------+-----------+------------------+
| Ashish|  34|        10|         34|                10|
|  Salaj|  33|         9|         33|                 9|
|  Phool|  57|        37|         57|                37|
| Shontu|   1|      null|          1|                21|
|   null|  40|      null|         40|                21|
|Sangwan|null|        30|         33|                30|
+-------+----+----------+-----------+------------------+

### Drop NA

In [193]:
df.show()

+-------+----+----------+
|   Name| Age|Experience|
+-------+----+----------+
| Ashish|  34|        10|
|  Salaj|  33|         9|
|  Phool|  57|        37|
| Shontu|   1|      null|
|   null|  40|      null|
|Sangwan|null|        30|
+-------+----+----------+

In [52]:
# Be default, how='any'
df.na.drop().show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Ashish| 34|        10|
| Salaj| 33|         9|
| Phool| 57|        37|
+------+---+----------+

In [53]:
df.na.drop(how='all').show()

+-------+----+----------+
|   Name| Age|Experience|
+-------+----+----------+
| Ashish|  34|        10|
|  Salaj|  33|         9|
|  Phool|  57|        37|
| Shontu|   1|      null|
|   null|  40|      null|
|Sangwan|null|        30|
+-------+----+----------+

In [54]:
# It will not drop the row if it has atleast 2 non-null
df.na.drop(thresh=2).show()

+-------+----+----------+
|   Name| Age|Experience|
+-------+----+----------+
| Ashish|  34|        10|
|  Salaj|  33|         9|
|  Phool|  57|        37|
| Shontu|   1|      null|
|Sangwan|null|        30|
+-------+----+----------+

In [55]:
# It will delete the row if mentioned columns has any null value
df.na.drop(how='any', subset=['Name']).show()

+-------+----+----------+
|   Name| Age|Experience|
+-------+----+----------+
| Ashish|  34|        10|
|  Salaj|  33|         9|
|  Phool|  57|        37|
| Shontu|   1|      null|
|Sangwan|null|        30|
+-------+----+----------+

### Drop Duplicates

In [224]:
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|          40|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [230]:
df1 = df.dropDuplicates()
df1.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Shontu|         IOT|  null|       null|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|         IOT|  5000|       1250|
|  Phool|    Big Data|  5000|       1250|
| Ashish|    Big Data|  4000|       1000|
|  Phool|         IOT| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
|  Salaj|Data Science|  3000|        750|
|   null|          40|  null|       null|
| Ashish|Data Science| 10000|       2500|
|  Phool|Data Science| 20000|       5000|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [225]:
df1 = df.dropDuplicates(['Name'])
df1.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
|   null|          40|  null|       null|
| Ashish|Data Science| 10000|       2500|
|  Phool|Data Science| 20000|       5000|
|  Salaj|    Big Data|  4000|       1000|
|Sangwan|Data Science| 10000|       2500|
| Shontu|         IOT|  null|       null|
+-------+------------+------+-----------+

In [229]:
df1 = df.dropDuplicates(['Salary', 'Expenditure'])
df1.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Shontu|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
|Sangwan|    Big Data|  2000|        500|
|  Salaj|Data Science|  3000|        750|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|         IOT|  5000|       1250|
| Ashish|Data Science| 10000|       2500|
|  Phool|Data Science| 20000|       5000|
+-------+------------+------+-----------+

### Groupby and aggregate

In [234]:
df1 = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df1.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [235]:
df1.groupby('Name','Departments').agg({'Salary':'sum', 'Expenditure':'mean'}).show()

+-------+------------+-----------+----------------+
|   Name| Departments|sum(Salary)|avg(Expenditure)|
+-------+------------+-----------+----------------+
|  Phool|Data Science|      20000|          5000.0|
| Shontu|         IOT|       null|            null|
|  Phool|         IOT|      10000|          2500.0|
| Ashish|    Big Data|       4000|          1000.0|
|   null|         IOT|       null|            null|
|Sangwan|Data Science|      10000|          2500.0|
|Sangwan|    Big Data|       2000|           500.0|
|Sangwan|        null|         30|            null|
|  Phool|    Big Data|       5000|          1250.0|
| Ashish|         IOT|       5000|          1250.0|
| Ashish|Data Science|      10000|          2500.0|
|  Salaj|    Big Data|       4000|          1000.0|
|  Salaj|Data Science|       3000|           750.0|
+-------+------------+-----------+----------------+

In [236]:
df1.groupby('Departments').agg({'Salary':'sum', 'Expenditure':'mean'}).show()

+------------+-----------+----------------+
| Departments|sum(Salary)|avg(Expenditure)|
+------------+-----------+----------------+
|         IOT|      15000|          1875.0|
|        null|         30|            null|
|    Big Data|      15000|           937.5|
|Data Science|      43000|          2687.5|
+------------+-----------+----------------+

In [237]:
from pyspark.sql import functions as F
df1.groupBy("Departments").agg(F.mean('Salary'), F.count('Salary')).show()

+------------+-----------+-------------+
| Departments|avg(Salary)|count(Salary)|
+------------+-----------+-------------+
|         IOT|     7500.0|            2|
|        null|       30.0|            1|
|    Big Data|     3750.0|            4|
|Data Science|    10750.0|            4|
+------------+-----------+-------------+

In [238]:
from pyspark.sql import functions as F
df1.groupBy("Departments").agg(F.mean('Salary'), F.count('Salary'),
                               F.mean('Expenditure')).show()

+------------+-----------+-------------+----------------+
| Departments|avg(Salary)|count(Salary)|avg(Expenditure)|
+------------+-----------+-------------+----------------+
|         IOT|     7500.0|            2|          1875.0|
|        null|       30.0|            1|            null|
|    Big Data|     3750.0|            4|           937.5|
|Data Science|    10750.0|            4|          2687.5|
+------------+-----------+-------------+----------------+

### Replace

https://sparkbyexamples.com/pyspark/pyspark-replace-column-values/

In [242]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [243]:
from pyspark.sql.functions import regexp_replace
df.withColumn('Departments', regexp_replace('Departments', 'IOT', 'Internet of Things')).show()

+-------+------------------+------+-----------+
|   Name|       Departments|Salary|Expenditure|
+-------+------------------+------+-----------+
| Ashish|      Data Science| 10000|       2500|
| Ashish|Internet of Things|  5000|       1250|
|  Salaj|          Big Data|  4000|       1000|
| Ashish|          Big Data|  4000|       1000|
|  Salaj|      Data Science|  3000|        750|
|  Phool|      Data Science| 20000|       5000|
|  Phool|Internet of Things| 10000|       2500|
|  Phool|          Big Data|  5000|       1250|
|Sangwan|      Data Science| 10000|       2500|
|Sangwan|          Big Data|  2000|        500|
| Shontu|Internet of Things|  null|       null|
|   null|Internet of Things|  null|       null|
|Sangwan|              null|    30|       null|
+-------+------------------+------+-----------+

In [246]:
mapping = {'Data Science': 'DS', 'Big Data': 'BG'}
df.replace(mapping, subset=['Departments']).show()

+-------+-----------+------+-----------+
|   Name|Departments|Salary|Expenditure|
+-------+-----------+------+-----------+
| Ashish|         DS| 10000|       2500|
| Ashish|        IOT|  5000|       1250|
|  Salaj|         BG|  4000|       1000|
| Ashish|         BG|  4000|       1000|
|  Salaj|         DS|  3000|        750|
|  Phool|         DS| 20000|       5000|
|  Phool|        IOT| 10000|       2500|
|  Phool|         BG|  5000|       1250|
|Sangwan|         DS| 10000|       2500|
|Sangwan|         BG|  2000|        500|
| Shontu|        IOT|  null|       null|
|   null|        IOT|  null|       null|
|Sangwan|       null|    30|       null|
+-------+-----------+------+-----------+

### Filter Operation / Data Slicing

https://sparkbyexamples.com/pyspark/pyspark-where-filter/

In [247]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [257]:
df.filter(df['Name'].isNull()).show()

+----+-----------+------+-----------+
|Name|Departments|Salary|Expenditure|
+----+-----------+------+-----------+
|null|        IOT|  null|       null|
+----+-----------+------+-----------+

In [248]:
df.filter(df['Name']=='Ashish').show()

+------+------------+------+-----------+
|  Name| Departments|Salary|Expenditure|
+------+------------+------+-----------+
|Ashish|Data Science| 10000|       2500|
|Ashish|         IOT|  5000|       1250|
|Ashish|    Big Data|  4000|       1000|
+------+------------+------+-----------+

In [251]:
df.filter((df['Name']=='Ashish') & (df['Departments']=='Data Science')).show()

+------+------------+------+-----------+
|  Name| Departments|Salary|Expenditure|
+------+------------+------+-----------+
|Ashish|Data Science| 10000|       2500|
+------+------------+------+-----------+

In [250]:
df.filter((df['Name']=='Ashish') & (df['Departments']!='Data Science')).show()

+------+-----------+------+-----------+
|  Name|Departments|Salary|Expenditure|
+------+-----------+------+-----------+
|Ashish|        IOT|  5000|       1250|
|Ashish|   Big Data|  4000|       1000|
+------+-----------+------+-----------+

In [252]:
df.filter((df['Name']=='Ashish') & ~(df['Departments']=='Data Science')).show()

+------+-----------+------+-----------+
|  Name|Departments|Salary|Expenditure|
+------+-----------+------+-----------+
|Ashish|        IOT|  5000|       1250|
|Ashish|   Big Data|  4000|       1000|
+------+-----------+------+-----------+

In [254]:
df.filter((df['Name']=='Ashish') & (df['Departments'].isin(['IOT','Big Data']))).show()

+------+-----------+------+-----------+
|  Name|Departments|Salary|Expenditure|
+------+-----------+------+-----------+
|Ashish|        IOT|  5000|       1250|
|Ashish|   Big Data|  4000|       1000|
+------+-----------+------+-----------+

In [255]:
df.filter(df['Salary']>=2000).show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
+-------+------------+------+-----------+

### Select Specific columns only

In [261]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [263]:
df[['Name','Departments']].show()

+-------+------------+
|   Name| Departments|
+-------+------------+
| Ashish|Data Science|
| Ashish|         IOT|
|  Salaj|    Big Data|
| Ashish|    Big Data|
|  Salaj|Data Science|
|  Phool|Data Science|
|  Phool|         IOT|
|  Phool|    Big Data|
|Sangwan|Data Science|
|Sangwan|    Big Data|
| Shontu|         IOT|
|   null|         IOT|
|Sangwan|        null|
+-------+------------+

In [265]:
df.select('Name','Departments').show()

+-------+------------+
|   Name| Departments|
+-------+------------+
| Ashish|Data Science|
| Ashish|         IOT|
|  Salaj|    Big Data|
| Ashish|    Big Data|
|  Salaj|Data Science|
|  Phool|Data Science|
|  Phool|         IOT|
|  Phool|    Big Data|
|Sangwan|Data Science|
|Sangwan|    Big Data|
| Shontu|         IOT|
|   null|         IOT|
|Sangwan|        null|
+-------+------------+

In [260]:
df.select(df.columns[1:3]).show()

+------------+------+
| Departments|Salary|
+------------+------+
|Data Science| 10000|
|         IOT|  5000|
|    Big Data|  4000|
|    Big Data|  4000|
|Data Science|  3000|
|Data Science| 20000|
|         IOT| 10000|
|    Big Data|  5000|
|Data Science| 10000|
|    Big Data|  2000|
|         IOT|  null|
|         IOT|  null|
|        null|    30|
+------------+------+

### Add new column
https://sparkbyexamples.com/pyspark/pyspark-add-new-column-to-dataframe/#:~:text=Add%20New%20Column%20with%20Constant,None%20use%20lit(None)%20.

In [266]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [267]:
df.withColumn('New Salary', df['Salary']+2).show()

+-------+------------+------+-----------+----------+
|   Name| Departments|Salary|Expenditure|New Salary|
+-------+------------+------+-----------+----------+
| Ashish|Data Science| 10000|       2500|     10002|
| Ashish|         IOT|  5000|       1250|      5002|
|  Salaj|    Big Data|  4000|       1000|      4002|
| Ashish|    Big Data|  4000|       1000|      4002|
|  Salaj|Data Science|  3000|        750|      3002|
|  Phool|Data Science| 20000|       5000|     20002|
|  Phool|         IOT| 10000|       2500|     10002|
|  Phool|    Big Data|  5000|       1250|      5002|
|Sangwan|Data Science| 10000|       2500|     10002|
|Sangwan|    Big Data|  2000|        500|      2002|
| Shontu|         IOT|  null|       null|      null|
|   null|         IOT|  null|       null|      null|
|Sangwan|        null|    30|       null|        32|
+-------+------------+------+-----------+----------+

In [271]:
from pyspark.sql.functions import lit
df.withColumn('New Salary', lit('same')).show()

+-------+------------+------+-----------+----------+
|   Name| Departments|Salary|Expenditure|New Salary|
+-------+------------+------+-----------+----------+
| Ashish|Data Science| 10000|       2500|      same|
| Ashish|         IOT|  5000|       1250|      same|
|  Salaj|    Big Data|  4000|       1000|      same|
| Ashish|    Big Data|  4000|       1000|      same|
|  Salaj|Data Science|  3000|        750|      same|
|  Phool|Data Science| 20000|       5000|      same|
|  Phool|         IOT| 10000|       2500|      same|
|  Phool|    Big Data|  5000|       1250|      same|
|Sangwan|Data Science| 10000|       2500|      same|
|Sangwan|    Big Data|  2000|        500|      same|
| Shontu|         IOT|  null|       null|      same|
|   null|         IOT|  null|       null|      same|
|Sangwan|        null|    30|       null|      same|
+-------+------------+------+-----------+----------+

In [272]:
df.withColumn('New Salary', lit(10)).show()

+-------+------------+------+-----------+----------+
|   Name| Departments|Salary|Expenditure|New Salary|
+-------+------------+------+-----------+----------+
| Ashish|Data Science| 10000|       2500|        10|
| Ashish|         IOT|  5000|       1250|        10|
|  Salaj|    Big Data|  4000|       1000|        10|
| Ashish|    Big Data|  4000|       1000|        10|
|  Salaj|Data Science|  3000|        750|        10|
|  Phool|Data Science| 20000|       5000|        10|
|  Phool|         IOT| 10000|       2500|        10|
|  Phool|    Big Data|  5000|       1250|        10|
|Sangwan|Data Science| 10000|       2500|        10|
|Sangwan|    Big Data|  2000|        500|        10|
| Shontu|         IOT|  null|       null|        10|
|   null|         IOT|  null|       null|        10|
|Sangwan|        null|    30|       null|        10|
+-------+------------+------+-----------+----------+

In [280]:
df.withColumn('New Departments', when((df['Name']=='Ashish') & (df['Departments']=='Data Science'),'DS').
                                 otherwise(df['Departments'])).show()

+-------+------------+------+-----------+---------------+
|   Name| Departments|Salary|Expenditure|New Departments|
+-------+------------+------+-----------+---------------+
| Ashish|Data Science| 10000|       2500|             DS|
| Ashish|         IOT|  5000|       1250|            IOT|
|  Salaj|    Big Data|  4000|       1000|       Big Data|
| Ashish|    Big Data|  4000|       1000|       Big Data|
|  Salaj|Data Science|  3000|        750|   Data Science|
|  Phool|Data Science| 20000|       5000|   Data Science|
|  Phool|         IOT| 10000|       2500|            IOT|
|  Phool|    Big Data|  5000|       1250|       Big Data|
|Sangwan|Data Science| 10000|       2500|   Data Science|
|Sangwan|    Big Data|  2000|        500|       Big Data|
| Shontu|         IOT|  null|       null|            IOT|
|   null|         IOT|  null|       null|            IOT|
|Sangwan|        null|    30|       null|           null|
+-------+------------+------+-----------+---------------+

In [279]:
df.withColumn('New Departments', when(df['Departments']=='Data Science','DS').
                                 when(df['Departments']=='Big Data','BG').
                                 when(df['Departments'].isNull(),'--').
                                 otherwise(df['Departments'])).show()

+-------+------------+------+-----------+---------------+
|   Name| Departments|Salary|Expenditure|New Departments|
+-------+------------+------+-----------+---------------+
| Ashish|Data Science| 10000|       2500|             DS|
| Ashish|         IOT|  5000|       1250|            IOT|
|  Salaj|    Big Data|  4000|       1000|             BG|
| Ashish|    Big Data|  4000|       1000|             BG|
|  Salaj|Data Science|  3000|        750|             DS|
|  Phool|Data Science| 20000|       5000|             DS|
|  Phool|         IOT| 10000|       2500|            IOT|
|  Phool|    Big Data|  5000|       1250|             BG|
|Sangwan|Data Science| 10000|       2500|             DS|
|Sangwan|    Big Data|  2000|        500|             BG|
| Shontu|         IOT|  null|       null|            IOT|
|   null|         IOT|  null|       null|            IOT|
|Sangwan|        null|    30|       null|             --|
+-------+------------+------+-----------+---------------+

### Drop Column

In [273]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [274]:
df.drop('Expenditure').show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| Ashish|Data Science| 10000|
| Ashish|         IOT|  5000|
|  Salaj|    Big Data|  4000|
| Ashish|    Big Data|  4000|
|  Salaj|Data Science|  3000|
|  Phool|Data Science| 20000|
|  Phool|         IOT| 10000|
|  Phool|    Big Data|  5000|
|Sangwan|Data Science| 10000|
|Sangwan|    Big Data|  2000|
| Shontu|         IOT|  null|
|   null|         IOT|  null|
|Sangwan|        null|    30|
+-------+------------+------+

In [275]:
df.drop('Salary','Expenditure').show()

+-------+------------+
|   Name| Departments|
+-------+------------+
| Ashish|Data Science|
| Ashish|         IOT|
|  Salaj|    Big Data|
| Ashish|    Big Data|
|  Salaj|Data Science|
|  Phool|Data Science|
|  Phool|         IOT|
|  Phool|    Big Data|
|Sangwan|Data Science|
|Sangwan|    Big Data|
| Shontu|         IOT|
|   null|         IOT|
|Sangwan|        null|
+-------+------------+

### Add Column

In [276]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+-------+------------+------+-----------+
|   Name| Departments|Salary|Expenditure|
+-------+------------+------+-----------+
| Ashish|Data Science| 10000|       2500|
| Ashish|         IOT|  5000|       1250|
|  Salaj|    Big Data|  4000|       1000|
| Ashish|    Big Data|  4000|       1000|
|  Salaj|Data Science|  3000|        750|
|  Phool|Data Science| 20000|       5000|
|  Phool|         IOT| 10000|       2500|
|  Phool|    Big Data|  5000|       1250|
|Sangwan|Data Science| 10000|       2500|
|Sangwan|    Big Data|  2000|        500|
| Shontu|         IOT|  null|       null|
|   null|         IOT|  null|       null|
|Sangwan|        null|    30|       null|
+-------+------------+------+-----------+

In [32]:
from pyspark.sql.functions import concat, concat_ws
df.withColumn('New', concat(df['Name'], df['Departments'])).show()

+----------+-------+------------+------+-----------+-------------------+
|      Date|   Name| Departments|Salary|Expenditure|                New|
+----------+-------+------------+------+-----------+-------------------+
|2022-02-11| Ashish|Data Science| 10000|       2500| AshishData Science|
|2022-02-12| Ashish|         IOT|  5000|       1250|          AshishIOT|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|      SalajBig Data|
|2022-02-14| Ashish|    Big Data|  4000|       1000|     AshishBig Data|
|2022-02-15|  Salaj|Data Science|  3000|        750|  SalajData Science|
|2022-02-16|  Phool|Data Science| 20000|       5000|  PhoolData Science|
|2022-02-17|  Phool|         IOT| 10000|       2500|           PhoolIOT|
|2022-02-18|  Phool|    Big Data|  5000|       1250|      PhoolBig Data|
|2022-02-19|Sangwan|Data Science| 10000|       2500|SangwanData Science|
|2022-02-20|Sangwan|    Big Data|  2000|        500|    SangwanBig Data|
|2022-02-21| Shontu|         IOT|  null|       null|          ShontuIOT|
|2022-02-22|   null|         IOT|  null|       null|               null|
|2022-02-23|Sangwan|        null|    30|       null|               null|
+----------+-------+------------+------+-----------+-------------------+

In [33]:
df.withColumn('New', concat_ws('_',df['Name'], df['Departments'])).show()

+----------+-------+------------+------+-----------+--------------------+
|      Date|   Name| Departments|Salary|Expenditure|                 New|
+----------+-------+------------+------+-----------+--------------------+
|2022-02-11| Ashish|Data Science| 10000|       2500| Ashish_Data Science|
|2022-02-12| Ashish|         IOT|  5000|       1250|          Ashish_IOT|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|      Salaj_Big Data|
|2022-02-14| Ashish|    Big Data|  4000|       1000|     Ashish_Big Data|
|2022-02-15|  Salaj|Data Science|  3000|        750|  Salaj_Data Science|
|2022-02-16|  Phool|Data Science| 20000|       5000|  Phool_Data Science|
|2022-02-17|  Phool|         IOT| 10000|       2500|           Phool_IOT|
|2022-02-18|  Phool|    Big Data|  5000|       1250|      Phool_Big Data|
|2022-02-19|Sangwan|Data Science| 10000|       2500|Sangwan_Data Science|
|2022-02-20|Sangwan|    Big Data|  2000|        500|    Sangwan_Big Data|
|2022-02-21| Shontu|         IOT|  null|       null|          Shontu_IOT|
|2022-02-22|   null|         IOT|  null|       null|                 IOT|
|2022-02-23|Sangwan|        null|    30|       null|             Sangwan|
+----------+-------+------------+------+-----------+--------------------+

### Rename Column

In [282]:
df.withColumnRenamed('Name','New Name').show()

+--------+------------+------+-----------+
|New Name| Departments|Salary|Expenditure|
+--------+------------+------+-----------+
|  Ashish|Data Science| 10000|       2500|
|  Ashish|         IOT|  5000|       1250|
|   Salaj|    Big Data|  4000|       1000|
|  Ashish|    Big Data|  4000|       1000|
|   Salaj|Data Science|  3000|        750|
|   Phool|Data Science| 20000|       5000|
|   Phool|         IOT| 10000|       2500|
|   Phool|    Big Data|  5000|       1250|
| Sangwan|Data Science| 10000|       2500|
| Sangwan|    Big Data|  2000|        500|
|  Shontu|         IOT|  null|       null|
|    null|         IOT|  null|       null|
| Sangwan|        null|    30|       null|
+--------+------------+------+-----------+

### Date Format

https://www.datasciencemadesimple.com/get-month-year-and-quarter-from-date-in-pyspark/
https://www.datasciencemadesimple.com/subtract-or-add-days-months-and-years-to-timestamp-in-pyspark/

By default, Date has to be in this 2022-02-11 format

In [29]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+----------+-------+------------+------+-----------+
|      Date|   Name| Departments|Salary|Expenditure|
+----------+-------+------------+------+-----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
|2022-02-18|  Phool|    Big Data|  5000|       1250|
|2022-02-19|Sangwan|Data Science| 10000|       2500|
|2022-02-20|Sangwan|    Big Data|  2000|        500|
|2022-02-21| Shontu|         IOT|  null|       null|
|2022-02-22|   null|         IOT|  null|       null|
|2022-02-23|Sangwan|        null|    30|       null|
+----------+-------+------------+------+-----------+

In [5]:
df.dtypes

[('Date', 'string'),
 ('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Expenditure', 'int')]

In [6]:
from pyspark.sql.functions import to_date, to_timestamp, to_utc_timestamp, dayofmonth

df1 = df.withColumn('New_Date', to_date('Date'))
df1.dtypes

[('Date', 'string'),
 ('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Expenditure', 'int'),
 ('New_Date', 'date')]

In [7]:
df1.show()

+----------+-------+------------+------+-----------+----------+
|      Date|   Name| Departments|Salary|Expenditure|  New_Date|
+----------+-------+------------+------+-----------+----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|2022-02-11|
|2022-02-12| Ashish|         IOT|  5000|       1250|2022-02-12|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|2022-02-13|
|2022-02-14| Ashish|    Big Data|  4000|       1000|2022-02-14|
|2022-02-15|  Salaj|Data Science|  3000|        750|2022-02-15|
|2022-02-16|  Phool|Data Science| 20000|       5000|2022-02-16|
|2022-02-17|  Phool|         IOT| 10000|       2500|2022-02-17|
|2022-02-18|  Phool|    Big Data|  5000|       1250|2022-02-18|
|2022-02-19|Sangwan|Data Science| 10000|       2500|2022-02-19|
|2022-02-20|Sangwan|    Big Data|  2000|        500|2022-02-20|
|2022-02-21| Shontu|         IOT|  null|       null|2022-02-21|
|2022-02-22|   null|         IOT|  null|       null|2022-02-22|
|2022-02-23|Sangwan|        null|    30|       null|2022-02-23|
+----------+-------+------------+------+-----------+----------+

In [25]:
from pyspark.sql.functions import to_date, to_timestamp, to_utc_timestamp, datediff
from pyspark.sql.functions import dayofweek, dayofmonth, dayofyear, date_format, year, month, quarter , weekofyear

In [15]:
df2 = df1.withColumn('Year', year(df1['New_Date'])) \
           .withColumn('Month', month(df1['New_Date'])) \
           .withColumn('Day', dayofmonth(df1['New_Date'])) \
           .withColumn('Week', weekofyear(df1['New_Date'])) \
           .withColumn('Quarter', quarter(df1['New_Date'])) \
           .withColumn('DayOfWeek', dayofweek(df1['New_Date'])) \
           .withColumn('DayOfYear', dayofyear(df1['New_Date'])) \
           .withColumn('Weekday', date_format(df1['New_Date'], "EEEE"))

df2.select(df2.columns[5:]).show()

# 1st day os week is Sunday

+----------+----+-----+---+----+-------+---------+---------+---------+
|  New_Date|Year|Month|Day|Week|Quarter|DayOfWeek|DayOfYear|  Weekday|
+----------+----+-----+---+----+-------+---------+---------+---------+
|2022-02-11|2022|    2| 11|   6|      1|        6|       42|   Friday|
|2022-02-12|2022|    2| 12|   6|      1|        7|       43| Saturday|
|2022-02-13|2022|    2| 13|   6|      1|        1|       44|   Sunday|
|2022-02-14|2022|    2| 14|   7|      1|        2|       45|   Monday|
|2022-02-15|2022|    2| 15|   7|      1|        3|       46|  Tuesday|
|2022-02-16|2022|    2| 16|   7|      1|        4|       47|Wednesday|
|2022-02-17|2022|    2| 17|   7|      1|        5|       48| Thursday|
|2022-02-18|2022|    2| 18|   7|      1|        6|       49|   Friday|
|2022-02-19|2022|    2| 19|   7|      1|        7|       50| Saturday|
|2022-02-20|2022|    2| 20|   7|      1|        1|       51|   Sunday|
|2022-02-21|2022|    2| 21|   8|      1|        2|       52|   Monday|
|2022-02-22|2022|    2| 22|   8|      1|        3|       53|  Tuesday|
|2022-02-23|2022|    2| 23|   8|      1|        4|       54|Wednesday|
+----------+----+-----+---+----+-------+---------+---------+---------+

### Difference between 2 dates

In [20]:
df = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df.show()

+----------+-------+------------+------+-----------+
|      Date|   Name| Departments|Salary|Expenditure|
+----------+-------+------------+------+-----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
|2022-02-18|  Phool|    Big Data|  5000|       1250|
|2022-02-19|Sangwan|Data Science| 10000|       2500|
|2022-02-20|Sangwan|    Big Data|  2000|        500|
|2022-02-21| Shontu|         IOT|  null|       null|
|2022-02-22|   null|         IOT|  null|       null|
|2022-02-23|Sangwan|        null|    30|       null|
+----------+-------+------------+------+-----------+

In [21]:
df = df.withColumn('Date', to_date(df['Date']))
df.dtypes

[('Date', 'date'),
 ('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Expenditure', 'int')]

In [23]:
df = df.withColumn('New_Date', df['Date']+1)
df.show()

+----------+-------+------------+------+-----------+----------+
|      Date|   Name| Departments|Salary|Expenditure|  New_Date|
+----------+-------+------------+------+-----------+----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|2022-02-12|
|2022-02-12| Ashish|         IOT|  5000|       1250|2022-02-13|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|2022-02-14|
|2022-02-14| Ashish|    Big Data|  4000|       1000|2022-02-15|
|2022-02-15|  Salaj|Data Science|  3000|        750|2022-02-16|
|2022-02-16|  Phool|Data Science| 20000|       5000|2022-02-17|
|2022-02-17|  Phool|         IOT| 10000|       2500|2022-02-18|
|2022-02-18|  Phool|    Big Data|  5000|       1250|2022-02-19|
|2022-02-19|Sangwan|Data Science| 10000|       2500|2022-02-20|
|2022-02-20|Sangwan|    Big Data|  2000|        500|2022-02-21|
|2022-02-21| Shontu|         IOT|  null|       null|2022-02-22|
|2022-02-22|   null|         IOT|  null|       null|2022-02-23|
|2022-02-23|Sangwan|        null|    30|       null|2022-02-24|
+----------+-------+------------+------+-----------+----------+

In [26]:
df = df.withColumn('DateDifference', datediff(df['New_Date'], df['Date']))
df.show()

+----------+-------+------------+------+-----------+----------+--------------+
|      Date|   Name| Departments|Salary|Expenditure|  New_Date|DateDifference|
+----------+-------+------------+------+-----------+----------+--------------+
|2022-02-11| Ashish|Data Science| 10000|       2500|2022-02-12|             1|
|2022-02-12| Ashish|         IOT|  5000|       1250|2022-02-13|             1|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|2022-02-14|             1|
|2022-02-14| Ashish|    Big Data|  4000|       1000|2022-02-15|             1|
|2022-02-15|  Salaj|Data Science|  3000|        750|2022-02-16|             1|
|2022-02-16|  Phool|Data Science| 20000|       5000|2022-02-17|             1|
|2022-02-17|  Phool|         IOT| 10000|       2500|2022-02-18|             1|
|2022-02-18|  Phool|    Big Data|  5000|       1250|2022-02-19|             1|
|2022-02-19|Sangwan|Data Science| 10000|       2500|2022-02-20|             1|
|2022-02-20|Sangwan|    Big Data|  2000|        500|2022-02-21|             1|
|2022-02-21| Shontu|         IOT|  null|       null|2022-02-22|             1|
|2022-02-22|   null|         IOT|  null|       null|2022-02-23|             1|
|2022-02-23|Sangwan|        null|    30|       null|2022-02-24|             1|
+----------+-------+------------+------+-----------+----------+--------------+

### Concat

In [34]:
df1 = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df1.show()

+----------+-------+------------+------+-----------+
|      Date|   Name| Departments|Salary|Expenditure|
+----------+-------+------------+------+-----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
|2022-02-18|  Phool|    Big Data|  5000|       1250|
|2022-02-19|Sangwan|Data Science| 10000|       2500|
|2022-02-20|Sangwan|    Big Data|  2000|        500|
|2022-02-21| Shontu|         IOT|  null|       null|
|2022-02-22|   null|         IOT|  null|       null|
|2022-02-23|Sangwan|        null|    30|       null|
+----------+-------+------------+------+-----------+

In [35]:
df2 = spark.read.csv('Test_Data1.csv', header=True, inferSchema=True)
df2.show()

+----------+-------+------------+------+-----------+
|      Date|   Name| Departments|Salary|Expenditure|
+----------+-------+------------+------+-----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
|2022-02-18|  Phool|    Big Data|  5000|       1250|
|2022-02-19|Sangwan|Data Science| 10000|       2500|
|2022-02-20|Sangwan|    Big Data|  2000|        500|
|2022-02-21| Shontu|         IOT|  null|       null|
|2022-02-22|   null|         IOT|  null|       null|
|2022-02-23|Sangwan|        null|    30|       null|
+----------+-------+------------+------+-----------+

In [37]:
df3 = df1.unionByName(df2)
df3.show()

+----------+-------+------------+------+-----------+
|      Date|   Name| Departments|Salary|Expenditure|
+----------+-------+------------+------+-----------+
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
|2022-02-18|  Phool|    Big Data|  5000|       1250|
|2022-02-19|Sangwan|Data Science| 10000|       2500|
|2022-02-20|Sangwan|    Big Data|  2000|        500|
|2022-02-21| Shontu|         IOT|  null|       null|
|2022-02-22|   null|         IOT|  null|       null|
|2022-02-23|Sangwan|        null|    30|       null|
|2022-02-11| Ashish|Data Science| 10000|       2500|
|2022-02-12| Ashish|         IOT|  5000|       1250|
|2022-02-13|  Salaj|    Big Data|  4000|       1000|
|2022-02-14| Ashish|    Big Data|  4000|       1000|
|2022-02-15|  Salaj|Data Science|  3000|        750|
|2022-02-16|  Phool|Data Science| 20000|       5000|
|2022-02-17|  Phool|         IOT| 10000|       2500|
+----------+-------+------------+------+-----------+
only showing top 20 rows